.main1{
    text-align: center;
}

.btntop1{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background: burlywood;
    border: none
}

.btntop2{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background: burlywood;
    border: none
}

.text1{
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1rem;
}

.btn1{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(255, 145, 0);
    border: none
}

.btn2{
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(255, 145, 0);
    border: none
}